.cuerpo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
align-items: center;
}
.botonpopup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.cuadro1{
  background-image: url('./assets/images/restaurante-la-tavernetta-del-pirata-italianos-madrid-1661514209.jpeg') ;
  background-size:cover;
  background-repeat: no-repeat;

  height: 400px;
  width: 600px;
  color: rgb(225, 219, 219);
  text-align:center; 
  border-radius: 20px;
  align-items: center;
  text-shadow: 2px 2px 2px black;
  font-size: larger;
  margin: 20px;

}
.cuadro2{
justify-content: center;
text-align: justify;
width: 400px;
margin:20px;
}
.primeralinea{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.popup{
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 30px;
  border-radius: 20px;
  box-shadow: 4px 3px 10px rgb(56, 55, 55);
}
.popup ul{
 background-color: blanchedalmond;
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
 justify-content: center;

}
.popup button{
  margin:10px
}
