
.cuerpo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
align-items: center;
background: linear-gradient(to bottom right, white, rgb(242, 226, 203));

}
.logo{
  width: 50px;
}
.botonpopup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;


}
.cuadro1{
  background-image: url('./assets/images/restaurante-la-tavernetta-del-pirata-italianos-madrid-1661514209.jpeg') ;
  background-size:cover;
  background-repeat: no-repeat;

  height: 400px;
  width: 600px;
  color: rgb(225, 219, 219);
  text-align:center; 
  border-radius: 20px;
  align-items: center;
  text-shadow: 2px 2px 2px black;
  font-size: larger;
  margin: 20px;

}
.cuadro2{
justify-content:center;
text-align: justify;

width: 400px;
margin:20px;
}
.primeralinea{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.segundalinea{
  display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.popup{
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 30px;
  border-radius: 20px;
  box-shadow: 4px 3px 10px rgb(56, 55, 55);
}
.popup ul{
 background-color: blanchedalmond;
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
 justify-content: center;

}
.popup button{
  margin:10px
}



.row{
  display: flex;
  
  gap: 20px;
  justify-content: space-around;
  background: linear-gradient(to right,rgb(249, 229, 200) , rgb(242, 226, 203));
  
  
}

.reserva{
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 5px;
  margin-bottom: 50px;
   border-radius: 10px;
   padding: 30px;
   box-shadow: 4px 3px 10px rgb(56, 55, 55);
   background-color: rgb(243, 241, 241);

}
.reserva input {
  border-radius: 2px;
  height: 30px;
  gap: 5px;
  margin:5px;
  border: 1px;
  box-shadow: 1px 1px 3px rgb(56, 55, 55)
}


button{
  box-shadow: 1px 1px 3px rgb(56, 55, 55)
}

@media (max-width: 662px){
  .cuadro1 {
    height: 240px;
    width: 360px;

  }
  .row{
    flex-direction: column;
    text-align: center;
  }

}